.app-layout {
    width: 100%;
    min-height: 100vh !important;
    &-content {
        padding: 48px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
